.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    cursor: pointer;
    margin: auto;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}

.card:hover.frame.image {
  -webkit-transform: scale(1.1);
}

.frame {
  overflow: hidden;  
}

/* .image{
  margin: "10px";

    -webkit-transform: scale(1);
    -webkit-transition: -webkit-transform 0.5 ease;
}

.hovered{
   -webkit-transform: scale(1.1);
} */

/* h1 {
  margin: 0;
  width: 100%;
} */
