#navbarBg {
    background-color: blue;
    position: fixed;
    width: 100%;
    z-index:100;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none !important;
}
