$sideBar-width: 10em; 

.Sidebar_sideSection {
    position: fixed;
    width: $sideBar-width ;
    top: 0;
    bottom: 0;
    left: 0;

    background-color: blue;
    -webkit-box-shadow: -4px 7px 13px -1px rgba(0,0,0,0.49);
    -moz-box-shadow: -4px 7px 13px -1px rgba(0,0,0,0.49);
    box-shadow: -4px 7px 13px -1px rgba(0,0,0,0.49);

    .sideSection_topWrapper{
        width: 100%;
        height: 3em;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid grey;
        margin: 0;
        padding: 0;        
    }

    .sideSection_menu_Wrapper {
        list-style-type:none;
        margin: 1em;
        padding: 0;

        li{
            list-style-type: none;
        }

    }
}

.sideSection--show {
    transform: translateX(0);
}

.sideSection--hide {
    transform: translateX(-$sideBar-width);
}