.Sidebar_TopSection {
    width: 100%;
    height: 1cm;
    background-color: blue;
    -webkit-box-shadow: -4px 7px 13px -1px rgba(0,0,0,0.49);
-moz-box-shadow: -4px 7px 13px -1px rgba(0,0,0,0.49);
box-shadow: -4px 7px 13px -1px rgba(0,0,0,0.49);
}